a {
  text-decoration: none !important;
}
.carousel .carousel-indicators .active {
  width: 30px;
  height: 2px;
  margin: 0;
  background-color: #fff;
}
.carousel {
  width: 100%;
}
.carousel-indicators {
  padding-bottom: 100px;
}
.navbar-navigate {
  line-height: 50px;
  margin: 10px;
  color: #212529;
}
.navbar-nav .active {
  color: rgb(21, 66, 214);
}
.figure-news {
  display: flex;
  width: 100%;
  transition: 0.5s;
  margin: 5px 0;
}
.figure-news:hover {
  box-shadow: -1px 1px 5px #000;
  transform: scale(1.01) translate(3px, -3px);
  color: inherit;
}
.figure {
  width: 100%;
}
.figure-news-image {
  width: 300px;
  height: 200px;
}
.figure-news-describe {
  margin-left: 20px;
}
.figure-news-describe > a {
  font-size: 30px;
  font-weight: bold;
}
.figure-news-describe > p {
  font-size: 16px;
  margin-top: 10px;
}
.navbar-avatar {
  margin: 0 15px;
}
.news-form-search {
  margin-bottom: 20px;
}
.detail-container {
  padding: 0 120px;
  text-align: center;
}
.detail-container .detail-header > span {
  margin: 10px;
}
.detail-information {
  margin-top: 50px;
}
.detail-information > img {
  width: 70%;
  margin: 20px;
}
.detail-information > p {
  text-align: left;
  font-size: 30px;
}
